@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "brandon";
    src: url("../public/fonts/brandon-text-regular.woff");
}

@font-face {
    font-family: "brandon-light";
    src: url("../public/fonts/brandon-text-light.woff");
}

@font-face {
    font-family: "brandon-bold";
    src: url("../public/fonts/brandon-text-bold.woff");
}

@font-face {
    font-family: "brandon-thin";
    src: url("../public/fonts/brandon-text-thin.woff");
}

* {
    font-family: 'Rubik', sans-serif;
    /* border: 1px solid rgb(186 230 253); */
}